@import "modules/module-reboot.css";
@import "modules/header/module-header.css";
@import "modules/content/module-content.css";
@import "modules/footer/module-footer.css";
@import "modules/module-buttons.css";
@import "modules/module-text.css";

/*
*   Глобальная конфигурация стилей
*       Все нужные значения
**/
:root{
    /* Особые значения */
    --d-non-im: none !important;
    --d-uns-im: unset !important;

    --d-bl-im: block !important;
    --d-ibl-im: inline-block !important;

    --d-fl-im: flex !important;
    --d-ifl-im: inline-flex !important;

    --d-gr-im: grid !important;
    --d-igr-im: inline-grid !important;

    --d-gr: grid;
    --d-bl: block;
    --d-fl: flex;
    --d-non: none;
    --d-uns: unset;
    --d-igr: inline-grid;
    --d-ibl: inline-block;
    --d-ifl: inline-flex;

    /* Отступы между блоками */
    --mg-1: 0.5rem;
    --mg-2: 1rem;
    --mg-3: 2rem;
    --mg-4: 3,5rem;
    --mg-5: 3rem;

    /* Наложение */
    --z-nul: 0;
    --z-top: 999;
    --z-down: -1;
    --z-one: 10;
    --z-two: 20;
    --z-three: 30;

    /* Позиционирование */
    --pos-rel: relative;
    --pos-abs: absolute;
    --pos-fix: fixed;

    /* Значение высот */
    --width-1: 25%;
    --width-2: 50%;
    --width-3: 75%;
    --width-4: 100%;
    --width-vw: 100vh;
    --height-1: 25%;
    --height-2: 50%;
    --height-3: 75%;
    --height-4: 100%;
    --height-vh: 100vw;

    /* Отступы при позиционировании */
    --pos-nul: 0;
    --pos-1: 25%;
    --pos-2: 50%;
    --pos-3: 75%;
    --pos-max: 100%;

    /* Основные свойства ссылок */
    --link-decor: unset;
    --link-outline: unset;

    /* Основная цветовая палитра сайта */
    --bg-primary: #C4FFA1;
    --bg-secondary: #11BD00;

    /* Цвета для текстов и слов */
    --cl-info: #1F7A6F;
    --cl-success: #115D00;
    --cl-danger: #931600;
    --cl-white: #FFF;
    --cl-black: #000;
    --cl-orange: #FFA500;
    --cl-green: #008000;
    --cl-lime: #00FF00;

    /* Цвета для ссылок */
    --link-default: #808080;
    --link-color: #000;
    --link-hover: #FFA500;
    --link-default-border: #000;

    /* Цвета для кнопок */
    --btn-default-color: #1E90FF;
    --btn-default-background: #87CEFA;
    --btn-default-hover: #00BFFF;

    --btn-info-color: #1F7A6F;
    --btn-info-background: #46C9BB;
    --btn-info-hover: #5AE0D2;

    --btn-submit-color: #1F6524;
    --btn-submit-background: #4AA43F;
    --btn-submit-hover: #1BC001;

    --btn-danger-color: #961C04;
    --btn-danger-background: #CE1512;
    --btn-danger-hover: #702C23;

    --btn-reset-color: #8C4C02;
    --btn-reset-background: #BD6230;
    --btn-reset-hover: #AB6C43;
}