.main-block {
    position: var(--pos-rel);

    background-color: var(--bg-primary);

    min-height: 90vh;
    margin-top: 45px;
    margin-bottom: 80px;
}
.content {
    padding: 0 30px;
}
.text-1 {
    font-size: 16px;
}
.text-2 {
    font-size: 18px;
}
.text-3 {
    font-size: 20px;
}
.text-4 {
    font-size: 22px;
}
.text-5 {
    font-size: 24px;
}
.display-1 {
    font-size: 18px;
    font-weight: 700;
}
.display-2 {
    font-size: 22px;
    font-weight: 700;
}
.display-3 {
    font-size: 26px;
    font-weight: 700;
}
.display-4 {
    font-size: 30px;
    font-weight: 700;
}
.display-5 {
    font-size: 34px;
    font-weight: 700;
}